
.thumbnail {
  position: relative;
  padding: 0px;
  margin-bottom: 20px;
}

.thumbnail {
  width: 100%;
}
img {
  width: 11rem;
}
.thumbnailOuter{
  margin-left: 3rem;
}
.thumbnailOuter:hover{
  background-color: #E9E9E9;
  margin-left: 3rem;
}
