<div class="container ">
  <div class="d-flex justify-content-center pt-5">

    <div class="col-xs-18 col-sm-6 col-md-3 thumbnailOuter" (click)="liveSchedule()">
      <div class="thumbnail">
        <div class="d-flex justify-content-center">
          <img src="../assets/img/calendar_icon.png" alt="">
        </div>
        <div class="caption">
          <h4>Live Schedule </h4>
          <p>Checkin members, view & manage your live schedule</p>
        </div>
      </div>
    </div>

    <div class="col-xs-18 col-sm-6 col-md-3 thumbnailOuter">
      <div class="thumbnail">
        <div class="d-flex justify-content-center">
          <img src="../assets/img/one_to_one.png" alt="">
        </div>
        <div class="caption">
          <h4>One-to_one Schedules</h4>
          <p>Manage your one-on-one service provider's schedules</p>
        </div>
      </div>

    </div>

    <div class="col-xs-18 col-sm-6 col-md-3 thumbnailOuter">
      <div class="thumbnail">
        <div class="d-flex justify-content-center">
          <img src="../assets/img/limit_icon.png" alt="">
        </div>
        <div class="caption">
          <h4>Occupancy Auto CLoser</h4>
          <p>Manage the occupancy and when to close the event</p>
        </div>
      </div>
    </div><!-- End row -->
  </div>
</div><!-- End container -->

