<ng-template [ngIf]="showHeaderFooter" [ngIfElse]="inside_nav">
  <div class="wrapper">

    <!-- Sidebar -->
    <nav id="sidebar" [class]="isActive">
      <div class="sidebar-header">

        <h5>Monmouth University</h5>
        <h6>West Long Branch NJ</h6>
        <h6><i>Welcome {{username}}</i></h6>
      </div>

      <ul class="list-unstyled components">
        <li>
          <a href="dashboard">Dashboard</a>
        </li>
        <li>
          <a href="#schedule" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Schedule</a>
        </li>
        <ul class="collapse list-unstyled" id="schedule">
          <li>
            <a href="#">Live Schedule</a>
          </li>
          <li>
            <a href="#">One-on-one Schedule</a>
          </li>
          <li>
            <a href="#">Occupancy Auto Closer</a>
          </li>
        </ul>
        <li>
          <a href="#">Users</a>
        </li>
        <li>
          <a href="#">Occupancy Trackers</a>
        </li>
        <li>
          <a href="#">Announcements</a>
        </li>
        <li>
          <a href="#">Reports</a>
        </li>
        <li>
          <a href="#myfit" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">My Fitness
            Center</a>
        </li>
        <ul class="collapse list-unstyled" id="myfit">
          <li>
            <a href="#">Operating Hours</a>
          </li>
          <li>
            <a href="#">Settings</a>
          </li>
        </ul>
        <li>
          <a (click)="logout()">Logout</a>
        </li>
      </ul>
    </nav>

    <!-- Page Content -->
    <div id="content">
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <button type="button" id="sidebarCollapse" class="btn btn-info btnToggle ml-2" style="font-size: 1.5rem"
                (click)="toggleMenu()">
          <i class="fas fa-bars"></i>
        </button>
        <div class="ml-5">
          <img src="../assets/img/icon.png" alt="Monmouth University" height="32" width="32">
        </div>
        <div class="ml-3">
          <h4>Fitness Center</h4>
        </div>
        <div class="ml-5">
          <div id="custom-search-input">
            <div class="input-group col-md-12">
              <input type="text" class="form-control input-lg" placeholder="Search Users"/>
              <span class="input-group-btn">
                        <button class="btn btn-info btn-lg" type="button">
                            <i class="glyphicon glyphicon-search"></i>
                        </button>
                    </span>
            </div>
          </div>
        </div>
      </nav>
      <router-outlet></router-outlet>
    </div>
  </div>

</ng-template>

<ng-template #inside_nav>
  <router-outlet></router-outlet>
</ng-template>
<!--<a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Home</a>-->
<!--<ul class="collapse list-unstyled" id="homeSubmenu">-->
<!--  <li>-->
<!--    <a href="#">Home 1</a>-->
<!--  </li>-->
<!--  <li>-->
<!--    <a href="#">Home 2</a>-->
<!--  </li>-->
<!--  <li>-->
<!--    <a href="#">Home 3</a>-->
<!--  </li>-->
<!--</ul>-->
<!--&lt;!&ndash;<ng-template [ngIf]="!isUserLoggedIn" [ngIfElse]="inside_nav">&ndash;&gt;-->
<!--&lt;!&ndash;  &lt;!&ndash;Header&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;  <header class="d-flex flex-row">&ndash;&gt;-->
<!--&lt;!&ndash;    <nav class="navbar sticky-top navbar-expand-sm navbar-light bg-light flex-fill">&ndash;&gt;-->
<!--&lt;!&ndash;      <a class="navbar-brand" href="#">&ndash;&gt;-->
<!--&lt;!&ndash;        <img src="../../../assets/img/icon.png" width="30" height="30" alt="">&ndash;&gt;-->
<!--&lt;!&ndash;        Confus&ndash;&gt;-->
<!--&lt;!&ndash;      </a>&ndash;&gt;-->
<!--&lt;!&ndash;      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"&ndash;&gt;-->
<!--&lt;!&ndash;              aria-controls="navbarNav"&ndash;&gt;-->
<!--&lt;!&ndash;              aria-expanded="false" aria-label="Toggle navigation">&ndash;&gt;-->
<!--&lt;!&ndash;        <span class="navbar-toggler-icon"></span>&ndash;&gt;-->
<!--&lt;!&ndash;      </button>&ndash;&gt;-->
<!--&lt;!&ndash;      <div class="collapse navbar-collapse" id="navbarNav">&ndash;&gt;-->
<!--&lt;!&ndash;        <div class="navbar-nav">&ndash;&gt;-->
<!--&lt;!&ndash;          <a class="nav-item nav-link" href="#">Home</a>&ndash;&gt;-->
<!--&lt;!&ndash;          <a class="nav-item nav-link" href="download">Download</a>&ndash;&gt;-->
<!--&lt;!&ndash;          <a class="nav-item nav-link" href="price">Price</a>&ndash;&gt;-->
<!--&lt;!&ndash;          <a class="nav-item nav-link" href="help">Help</a>&ndash;&gt;-->
<!--&lt;!&ndash;        </div>&ndash;&gt;-->
<!--&lt;!&ndash;        <div class="navbar-nav justify-content-end ml-auto">&ndash;&gt;-->
<!--&lt;!&ndash;          <a class="nav-item nav-link" href="login">Login</a>&ndash;&gt;-->
<!--&lt;!&ndash;          <a class="nav-item nav-link" href="signup">Sign Up</a>&ndash;&gt;-->
<!--&lt;!&ndash;        </div>&ndash;&gt;-->
<!--&lt;!&ndash;      </div>&ndash;&gt;-->
<!--&lt;!&ndash;    </nav>&ndash;&gt;-->
<!--&lt;!&ndash;  </header>&ndash;&gt;-->
<!--&lt;!&ndash;</ng-template>&ndash;&gt;-->

<!--&lt;!&ndash;<ng-template #inside_nav>&ndash;&gt;-->
<!--&lt;!&ndash;  &lt;!&ndash;Header&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;  <header class="d-flex flex-row">&ndash;&gt;-->
<!--&lt;!&ndash;    <nav class="navbar sticky-top navbar-expand-sm navbar-light bg-light flex-fill">&ndash;&gt;-->
<!--&lt;!&ndash;      <a class="navbar-brand" href="#">&ndash;&gt;-->
<!--&lt;!&ndash;        <img src="../../../assets/img/icon.png" width="30" height="30" alt="">&ndash;&gt;-->
<!--&lt;!&ndash;        Confus&ndash;&gt;-->
<!--&lt;!&ndash;      </a>&ndash;&gt;-->
<!--&lt;!&ndash;      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"&ndash;&gt;-->
<!--&lt;!&ndash;              aria-controls="navbarNav"&ndash;&gt;-->
<!--&lt;!&ndash;              aria-expanded="false" aria-label="Toggle navigation">&ndash;&gt;-->
<!--&lt;!&ndash;        <span class="navbar-toggler-icon"></span>&ndash;&gt;-->
<!--&lt;!&ndash;      </button>&ndash;&gt;-->
<!--&lt;!&ndash;      <div class="d-flex ml-auto">&ndash;&gt;-->
<!--&lt;!&ndash;        <button class="btn " type="button">&ndash;&gt;-->
<!--&lt;!&ndash;          <i class="fas fa-sign-out-alt"></i>&ndash;&gt;-->
<!--&lt;!&ndash;        </button>&ndash;&gt;-->
<!--&lt;!&ndash;      </div>&ndash;&gt;-->
<!--&lt;!&ndash;    </nav>&ndash;&gt;-->
<!--&lt;!&ndash;  </header>&ndash;&gt;-->
<!--&lt;!&ndash;</ng-template>&ndash;&gt;-->
