<!--This inserts the header from the header component-->
<app-header *ngIf="showHeaderFooter"></app-header>
<!--This will insert the content from other components-->
<router-outlet *ngIf="!showHeaderFooter" ></router-outlet>
<!--This will insert the footer from the footer component-->
<app-footer class="mt-auto" *ngIf="showHeaderFooter"></app-footer>
