<div class="background">
    <div class="wrapper fadeInDown">
        <div id="formContent">
            <!-- Tabs Titles -->

            <!-- Icon -->
            <div class="fadeIn first mt-4">
                <img src="../assets/img/icon.png" id="icon" alt="User Icon"/>
            </div>
            <div class="mt-3 mb-3 fadeIn first">
                <span id="loginTitle">Welcome to Monmouth University Fitness Center</span>
            </div>
            <!-- Login Form -->
            <div class="d-flex justify-content-center ">
                <div class="alert alert-danger errMsg" [hidden]="hide_login_invalid" role="alert">
                    {{errMsg}}
                </div>
            </div>
            <form (ngSubmit)="login()">
                <input type="text" id="login" class="fadeIn second" name="login" placeholder="Username" [(ngModel)]="username">
                <input type="password" id="password" class="fadeIn third" name="login" placeholder="password" [(ngModel)]="password">
                <input type="submit" class="fadeIn fourth" value="Log In">
            </form>
            <!-- Remind Passowrd -->
            <div id="formFooter">
                <a class="underlineHover" href="#">Forgot Password?</a>
            </div>

        </div>
    </div>
</div>

<!--<div class="d-flex h-100">-->
<!--  <div class="w-75 m-auto">-->
<!--    <div class="shadow p-3 bg-white rounded h-100 d-flex flex-row justify-content-center">-->
<!--      <div class="w-50 d-flex flex-column align-items-center justify-content-center border-right">-->
<!--        <img src="../../../assets/img/icon.png" width="80" height="80" alt="">-->
<!--        <span class="login-brand-font pt-2">Confus</span>-->
<!--      </div>-->
<!--      <div class="w-50 d-flex flex-column align-items-center justify-content-center">-->
<!--        <div class="d-flex align-items-center justify-content-center">-->
<!--          <h5>Welcome </h5>-->
<!--        </div>-->
<!--        <div class="alert alert-danger" [hidden]="hide_login_invalid" role="alert">-->
<!--          Incorrect details please try again.-->
<!--        </div>-->
<!--        <div class="d-flex align-items-center justify-content-center w-100">-->
<!--          <form class="d-flex flex-column w-100 px-3" (ngSubmit)="login()" [formGroup]="login_form">-->
<!--            <div class="form-group d-flex flex-column">-->
<!--              <input type="email" class="form-control" placeholder="Enter email" [(ngModel)]="email"-->
<!--                     formControlName="email">-->
<!--              <div-->
<!--                *ngIf="login_form.get('email').invalid && (login_form.get('email').dirty || login_form.get('email').touched)"-->
<!--                class="alert alert-danger">-->

<!--                <div *ngIf="login_form.get('email').errors.required">-->
<!--                  Email is required.-->
<!--                </div>-->
<!--                <div *ngIf="login_form.get('email').errors.pattern">-->
<!--                  Must be a valid email.-->
<!--                </div>-->
<!--              </div>-->
<!--            </div>-->

<!--            <div class="form-group">-->
<!--              <input type="password" class="form-control"  [(ngModel)]="password" placeholder="Password" formControlName="password">-->
<!--              <div-->
<!--                *ngIf="login_form.get('password').invalid && (login_form.get('password').dirty || login_form.get('password').touched)"-->
<!--                class="alert alert-danger">-->

<!--                <div *ngIf="login_form.get('password').errors.required">-->
<!--                  Password is required.-->
<!--                </div>-->
<!--              </div>-->
<!--            </div>-->

<!--            <div class="form-group">-->
<!--              <div class="">-->
<!--                <span><u>Forgot Password</u></span>-->
<!--              </div>-->
<!--&lt;!&ndash;              <div class="">&ndash;&gt;-->
<!--&lt;!&ndash;                <span><u>Register Now</u></span>&ndash;&gt;-->
<!--&lt;!&ndash;              </div>&ndash;&gt;-->
<!--            </div>-->
<!--            <div class="form-group d-flex justify-content-center col p-0">-->
<!--              <button type="submit" class="btn login-btn col 10 m4">Log In</button>-->
<!--            </div>-->
<!--&lt;!&ndash;            <div class=" form group d-flex justify-content-center flex-row w-100">&ndash;&gt;-->
<!--&lt;!&ndash;              <div class="btn white darken-4 col s10 m4">&ndash;&gt;-->
<!--&lt;!&ndash;                <a href="/users/google-oauth/" style="text-transform:none">&ndash;&gt;-->
<!--&lt;!&ndash;                  <div class="left">&ndash;&gt;-->
<!--&lt;!&ndash;                    <img width="20px" alt="Google &quot;G&quot; Logo"&ndash;&gt;-->
<!--&lt;!&ndash;                         src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Google_%22G%22_Logo.svg/512px-Google_%22G%22_Logo.svg.png"/>&ndash;&gt;-->
<!--&lt;!&ndash;                  </div>&ndash;&gt;-->
<!--&lt;!&ndash;                  Login with Google&ndash;&gt;-->
<!--&lt;!&ndash;                </a>&ndash;&gt;-->
<!--&lt;!&ndash;              </div>&ndash;&gt;-->
<!--&lt;!&ndash;            </div>&ndash;&gt;-->
<!--&lt;!&ndash;            <div class=" form group d-flex justify-content-center w-100">&ndash;&gt;-->
<!--&lt;!&ndash;              <div class="fb-login-button" data-width="" data-size="large" data-button-type="continue_with"&ndash;&gt;-->
<!--&lt;!&ndash;                   data-auto-logout-link="false" data-use-continue-as="false">sdfsdfs&ndash;&gt;-->
<!--&lt;!&ndash;              </div>&ndash;&gt;-->
<!--&lt;!&ndash;            </div>&ndash;&gt;-->
<!--            &lt;!&ndash;            <div class="fb-login-button" data-width="" data-size="large" data-button-type="continue_with" data-auto-logout-link="false" data-use-continue-as="false"></div>&ndash;&gt;-->
<!--          </form>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->


